.vs/
*.user
*.ilk
*.pdb
*.iobj
*.ipdb
*.dll
*.log
*.lib
Temp/
Debug/
Release/
x64/
Build/
Build32/
Buildx86/
Buildx64/
bin/Testing_x64_RELEASE.exe
bin/Testing_x64_DEBUG.exe
bin/Testing_x86_RELEASE.exe
bin/Testing_x86_DEBUG.exe
